repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.6.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.11.7
  hooks:
    - id: ruff
- repo: https://github.com/pre-commit/mirrors-mypy
  rev: v1.15.0
  hooks:
  - id: mypy
    args: [--check-untyped-defs]
    additional_dependencies:
      [
        # main dependencies
        click,
        datasets,
        "httpx[http2]",
        loguru,
        numpy,
        protobuf,
        pydantic>=2.0.0,
        pydantic_settings>=2.0.0,
        pyyaml>=6.0.0,
        torch,
        transformers,

        # dev dependencies
        pytest,
        pydantic_settings,
        setuptools,
        setuptools-git-versioning,

        # types
        types-click,
        types-PyYAML,
      ]
