name: Main

on:
  push:
    branches:
      - main

env:
  UV_TORCH_BACKEND: "auto"

jobs:
  link-checks:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'
      - name: Install uv
        uses: astral-sh/setup-uv@v6
      - name: Generate doc files
        run: uv run --with .[dev] --no-sync --isolated docs/scripts/gen_files.py
      - name: Link Checker
        id: lychee
        uses: lycheeverse/lychee-action@v2
        with:
          fail: false
      - name: Create Comment
        if: steps.lychee.outputs.exit_code != '0'
        uses: peter-evans/create-or-update-comment@v4
        with:
          issue-number: 128
          body-path: ./lychee/out.md
      - name: Fail on Issues
        if: steps.lychee.outputs.exit_code != '0'
        run: |
          echo "Link Checker found issues. Please check the created issue for details."
          exit 1

  quality-checks:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: ["3.10", "3.11", "3.12", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: pip install .[dev]
      - name: Run quality checks
        run: make quality


  unit-tests:
    runs-on: ibm-wdc-k8s-vllm-h100-solo
    strategy:
      matrix:
        python: ["3.10", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: pip install tox tox-uv
      - name: Run unit tests
        run: tox -e test-unit

  integration-tests:
    runs-on: ibm-wdc-k8s-vllm-h100-solo
    strategy:
      matrix:
        python: ["3.10", "3.13"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: pip install tox tox-uv
      - name: Run integration tests
        run: tox -e test-integration

  datagen-tests:
    runs-on: ibm-wdc-k8s-vllm-h100-solo
    strategy:
      matrix:
        python: ["3.10"]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: pip install tox tox-uv
      - name: Run data generation tests
        run: tox -e test-datagen
